<footer class="text-center text-lg-start fixed-bottom" >
    <div class="text-center p-1" style="background-color: rgb(17, 104, 217);">
      © 2023 Copyright:
      <a class="text-dark" href="https://tabadul.sa">Tabadul</a><br>
      {{time | date}}
    </div>
  </footer>

<!-- 
  <footer class="container p-4 rounded">
    <div class="d-lg-flex justify-content-between">
      <div>
        <span>LOGO</span>
      </div>
      <div class="copyright">
        <p>developed and maintained by <a href="#" target="_blank">company</a></p>
      </div>
      <div>
        <ul class="d-flex gap-3 list-unstyled">
          <li><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="bi bi-twitter"></i></a></li>
          <li><a href="#"><i class="bi bi-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </footer> -->