
<div class="container-md  ">
    <h1 class="text-primary text-center">About WASHAJ</h1>
    <p class="text-center lead text-md-center ">
        WASHAJ is an electronic portal that provides a range of services to the beneficiaries 
        of air cargo services in KSA</p> 
</div>


<div class="container-md py-3 my-3">
    <h2 class="lead display-6 text-primary text-center">Washaj Services</h2>

    <ol>
        <li>Increasing market transparency</li>
        <li>Enabling customers whether companies or individuals to track cargos</li>
        <li>Provision of an equitable investment environment</li>
        <li>Linking all relevant parties to the General Authority for Civil Aviation</li>
    </ol>
    
</div>